<li><a href="{% url 'userena_profile_list' %}"><span>{% trans 'All profiles' %}</span></a></li>
          <li><a href="{% url 'userena_umessages_list' %}"><span>{% trans 'Messages' %}</span></a></li>
          <li><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a></li>
          <li><a href="{% url 'userena_signout' %}"><span>{% trans 'Signout' %}</span></a></li>
          {% else %}
          <li><a href="{% url 'userena_signin' %}"><span>{% trans 'Signin' %}</span></a></li>
          <li><a href="{% url 'userena_signup' %}"><span>{% trans 'Signup' %}</span></a></li>
          {% endif %}