{% load verbatim %}
<link href="{{ STATIC_URL }}fiber/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}fiber/css/admin.css" rel="stylesheet">
<script src="{{ STATIC_URL }}fiber/js/libs/jquery-1.8.2.js"></script>
<script src="{{ STATIC_URL }}fiber/js/libs/bootstrap.js"></script>
<script src="{{ STATIC_URL }}fiber/js/libs/underscore.js"></script>
<script src="{{ STATIC_URL }}fiber/js/libs/underscore.string.js"></script>
<script src="{{ STATIC_URL }}fiber/js/libs/backbone.js"></script>
<script src="{{ STATIC_URL }}fiber/js/libs/jquery.form.js"></script>
<script src="{{ STATIC_URL }}fiber/js/libs/handlebars-1.0.rc.1.js"></script>
<script src="{{ STATIC_URL }}fiber/js/jqtree/tree.jquery.js"></script>
<script src="{{ STATIC_URL }}fiber/js/fiber.js"></script>


<script>
    $(function() {
        {% if must_login %}
            Fiber.display_login('{{ login_url }}');
        {% else %}
            Fiber.init_admin();
        {% endif %}
    });
</script>

{% verbatim %}
    <script id="login-template" type="text/x-handlebars-template">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Fiber login</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn cancel">Cancel</a>
            <input type="submit" class="btn btn-primary submit" value="Login" />
        </div>
    </script>

    <script id="contextmenu-template" type="text/x-handlebars-template">
        <ul class="dropdown-menu dropdown-menu-visible">
            {{#items}}
                <li>
                    <a href="{{ url }}">{{ title }}</a>
                </li>
            {{/items}}
        </ul>
    </script>
{% endverbatim %}