/*.ui-dialog-content {
    -webkit-box-sizing: 0px;
    -moz-box-sizing: 0px;
    box-sizing: 0px;
}*/

/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/